.App {
  background-color:	#78866b; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.NamePlate {
  /* TODO: add min-width, min-height */
  font-size: calc(10px + 3vmin);
  width: 50vmin;
  height: 5vmin;
  border: solid;
  border-width: 2px;
  border-radius: 15px;
}

.projects ul {
  display: flex;
  list-style-type: None;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.projects li {
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
